<div class="flats-container">
<div style="width: 100%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>


  <h1><%= @flat.name %></h1>
  <h2><%= @flat.address %></h2>
  <h2> A bit more about this flat...</h2>
  <p><%= @flat.description%></p>
  <%= link_to "Back to all Flat", flats_path, class: "btn btn-primary" %>

  </div>
